body {
    background-color: black;
    text-align: center;
    background-image: url('https://wallpapers.com/images/hd/vintage-60s-25zbg0rcjox72hcz.jpg');
}

img {
    border: none;
    width: 80%;
}

div#counter {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16px;
    background-color: black;
    border: black 3px solid;
    border-radius: 3px;
}
