body {
    background-color: black;
    text-align: center;
    background-image: url('/img/victorian-roccoco-botanical-baroque.jpg');
}

img {
    border: none;
    max-width: 80%;
    max-height: 80%;
}

div#frame {
    margin: 5em;
}

div#counter {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16px;
    background-color: black;
    border: black 3px solid;
    border-radius: 3px;
}
