body {
    text-align: center;
    background: linear-gradient(rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)),
    url('https://timberlineforge.com/img/victorian-roccoco-botanical-baroque.jpg');
    background-position-x: -2em;
    background-position-y: -4em;
    background-size: 80px;
}

img {
    border: 1px solid #222;
    border-radius: 5px;
    max-width: 90%;
    max-height: 90%;
}

div#frame {
    margin: 5em;
}

div#counter {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16px;
    background-color: black;
    border: black 3px solid;
    border-radius: 3px;
}
